.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.user-name-header {
    font-weight: 800;
    font-size: large;
    margin: 0 10px;
}

.user-icon {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.follow-count {
  background-color: #007bff; 
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
}
